{% extends "base_email_fr.html" %}

{% block content %}
<p class="MsoNormal">Bonjour {{first_name}},</p>
<p>Pour confirmer votre adresse courriel, cliquez sur le lien suivant : <a href="{{verification_link}}">{{verification_link}}</a>.</p>
<p>Si le lien ne fonctionne pas, vous pouvez le copier et le coller dans la barre d'adresse de votre navigateur.</p>
<p>Le lien expirera dans 24 heures. Si vous n'avez pas demandé à créer de compte, veuillez ignorer ce message.</p>
{% endblock %}
