{% extends "base_email_en.html" %}

{% block content %}
<p class="MsoNormal">Hi {{first_name}},</p>
<p>Your request to join the First Connection Peer Support Program has been received. A staff member will call you within 1-2 business days to better understand your match preferences. For any inquiries, please reach us at <a href="mailto:FirstConnections@bloodcancers.ca">FirstConnections@bloodcancers.ca</a>. Please note LLSC's working days are Monday to Thursday.</p>
{% endblock %}
