{% extends "base_email_fr.html" %}

{% block content %}
<p class="MsoNormal">Bonjour {{first_name}},</p>
<p>Nous avons bien reçu votre demande d'inscription au programme de soutien par les pairs Premier contact. Un membre de notre personnel communiquera avec vous d'ici deux jours ouvrables en vue d'établir vos préférences en matière de jumelage. Pour toute demande, écrivez à <a href="mailto:FirstConnections@bloodcancers.ca">FirstConnections@bloodcancers.ca</a>. Veuillez noter que la semaine de travail de la SLLC est du lundi au jeudi.</p>
{% endblock %}
