{% extends "base_email_en.html" %}

{% block content %}
<p class="MsoNormal">Hi {{first_name}},</p>
<p>Good news - your intake form has been approved and you can now submit your secondary application. Please complete this so we can finalize your volunteer profile.</p>
<p align="center" style="text-align:center;margin-top:20px;margin-bottom:20px;">
  <a href="{{secondary_app_url}}" style="background-color:#056067;color:white;padding:12px 30px;text-decoration:none;border-radius:5px;font-weight:bold;display:inline-block;">
    Submit secondary application
  </a>
</p>
{% endblock %}
