{% extends "base_email_en.html" %}

{% block content %}
<p class="MsoNormal">Hi {{first_name}},</p>
<p>Click the link to reset your password: <a href="{{reset_link}}">{{reset_link}}</a></p>
<p>If the link doesn&#39;t work, copy and paste it into your browser.</p>
<p>This link will expire in 24 hours. If you didn&#39;t request a password reset, please ignore this email.</p>
{% endblock %}
