{% extends "base_email_fr.html" %}

{% block content %}
<p class="MsoNormal">Bonjour {{first_name}},</p>
<p>Merci d'avoir soumis vos préférences de jumelage. Notre équipe examinera votre soumission et commencera à trouver le meilleur bénévole pour vous. Nous vous contacterons une fois vos jumelages prêts.</p>
<p>Pour toute question, veuillez nous écrire à <a href="mailto:FirstConnections@bloodcancers.ca">FirstConnections@bloodcancers.ca</a>.</p>
{% endblock %}
