{% extends "base_email_en.html" %}

{% block content %}
<p class="MsoNormal">Hi {{first_name}},</p>
<p>Great news - your matching preferences have been approved and you are now in our matching pool. Our team will be working on finding the best volunteer match for you. We will notify you as soon as your matches are ready.</p>
<p>For any inquiries, please reach us at <a href="mailto:FirstConnections@bloodcancers.ca">FirstConnections@bloodcancers.ca</a>.</p>
{% endblock %}
