{% extends "base_email_en.html" %}

{% block content %}
<p class="MsoNormal">Hi {{first_name}},</p>
<p>Thank you for submitting your matching preferences. Our team will review your submission and begin finding the best volunteer match for you. We will be in touch once your matches are ready.</p>
<p>For any inquiries, please reach us at <a href="mailto:FirstConnections@bloodcancers.ca">FirstConnections@bloodcancers.ca</a>.</p>
{% endblock %}
