{% extends "base_email_fr.html" %}

{% block content %}
<p class="MsoNormal">Bonjour {{first_name}},</p>
<p>Merci d'avoir soumis votre demande complémentaire. Notre équipe examinera votre soumission et vous contactera une fois votre profil de bénévole approuvé.</p>
<p>Pour toute question, veuillez nous écrire à <a href="mailto:FirstConnections@bloodcancers.ca">FirstConnections@bloodcancers.ca</a>.</p>
{% endblock %}
