{% extends "base_email_en.html" %}

{% block content %}
<p class="MsoNormal">Hi {{first_name}},</p>
<p>Thank you for submitting your secondary application. Our team will review your submission and be in touch once your volunteer profile has been approved.</p>
<p>For any inquiries, please reach us at <a href="mailto:FirstConnections@bloodcancers.ca">FirstConnections@bloodcancers.ca</a>.</p>
{% endblock %}
